node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

.next/
out/

build/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
credentials.json

.vercel

*.tsbuildinfo
next-env.d.ts.bak

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
